---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="404">
  <div class="flex flex-col items-center justify-center h-dvh">
    <h1 class="text-[20rem]/72 font-extrabold">404</h1>
    <p class="text-lg">Page not found</p>
    <a href="/" class="mt-4 text-primary-300 hover:underline">Return to Home</a>
  </div>
</BaseLayout>
