<div class="w-full border-y border-border my-8 nth-2:mt-0 nth-2:border-t-0">
  <hr
    class="bg-linear-90 from-primary-300 to-secondary-300 h-4 w-full border-0"
  />
  <hr
    class="bg-linear-270 from-primary-300 to-secondary-300 h-4 w-full border-0"
  />
</div>
